<div class="education_column">
    {{#each personal_info}}
        <p class="border_line">
            <span class="schoolName">{{school_name}}</span>
        </p>
        <span class="selfIntro">{{Aboutme}}</span>
        <ul class="edu_column1">
            <li>
                {{major}}
                <span class="type">{{type}}</span>
            </li>
            <li>
                {{enlevel}}  <span class="level">{{English_level}}</span>
            </li>
            <li>
                <span class="desc">{{desc}}</span>
            </li>
        </ul>
        <ul class="edu_column2">
            <li>
                <span>{{jiguan}}：{{native}}</span>
                <span class="now">{{xianju}}：{{now_place}}</span>
            </li>
            <li>
                <span>{{xingbie}}：{{sex}} </span>
                <span class="date">{{riqi}}：{{date_of_birth}}</span>
            </li>
            <li>
                <span>{{aihao}}：{{interests}}</span>
            </li>
        </ul>
    {{/each}}
</div>