<div class="row line1">
    <table>
        <tbody>
            <tr>
                <td class="personal_resume .border_box">
                    <span class="text_resume">Person Resume</span>
                </td>
                {{#if jobs}}
                <td class="jobs_wanted .border_box">
                    求职意向：{{#each jobs}} <span class="job">{{this}}</span>{{/each}}
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table>
        <tbody>
        <tr>
            <td class="personal_resume .border_box">{{xingming}}：{{name}}</td>
            <td class="line2">{{youxiang}}：{{ mail }}  <span class="tel">{{dianhua}}：{{phone}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table>
        <tbody>
        <tr>
            <td class="personal_resume .border_box blog">博客：</td>
            <td class="line3">{{blog}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table>
        <tbody>
        <tr>
            <td class="personal_resume .border_box blog">github：</td>
            <td class="line4">{{github}}</td>
        </tr>
        </tbody>
    </table>
</div>
